<!--banner start here-->
<div class="banner">
	<div class="container">
		<div class="banner-main">
		          <h3>Type any of these commands into Slack:</h3>
              </br>
              <h4>/uber ride [origin] to [destination]</h4>
              <h5>Request a ride from [origin] to [destination].</h5>
              </br>
              <h4>/uber estimate [origin] to [destination]</h4>
              <h5>Get price and time estimates to drive from [origin] to [destination].</h5>
              </br>
              <h4>/uber status</h4>
              <h5>See the status of the last ride you requested on Slack.</h5>
              </br>
              <h4>/uber share</h4>
              <h5>Get a link to share your ride's progress.</h5>
              </br>
              <h4>/uber cancel</h4>
              <h5>Cancel the last ride you requested on Slack.</h5>
              </br>
              <h4>/uber help</h4>
              <h5>Get a list of available commands.</h5>

		     <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--banner end here-->
