<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<html>
<head>
<title>Uber Slack</title>
<link href='https://fonts.googleapis.com/css?family=Maven+Pro:400,500,900,700' rel='stylesheet' type='text/css'>
<!-- <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"> -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="js/jquery-1.11.0.min.js"></script> -->
<!-- Custom Theme files -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/> -->
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script> -->
<meta name="keywords" content="Agrom Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!-- start-smoth-scrolling -->
<!-- <script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script> -->
<!-- //end-smoth-scrolling -->
</head>
<body>
<!--header start here-->


<div class="header">
	<div class="container">
		<div class="header-main">
			   <div class="header">
				   <div class="logo">
             <img id="uber-banner" src="http://res.cloudinary.com/akantoword/image/upload/v1447035408/white_logo_ti2uxc.png" height="50%" width="50%" ></img><h1>Uber on Slack</h1>
				   </div>
				   <div class="header-login">
					 <div class="top-nav-right">
						<div id="loginContainer">
					  </div>
				   </div>
		      </div>
		    <div class="clearfix"> </div>
	     </div>
	     <div class="clearfix"> </div>
     </div>
   </div>
</div>
<!--header end here-->
<!--banner start here-->
<div class="banner">
	<div class="container">
		<div class="banner-main gray">
		          <h3>Post to Slack.</h3><h3>
								Get a ride.</h3>

		     <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--banner end here-->
<!--agrom strip start here-->
<div class="agro-strip">
	<div class="container">
		<div class="agro-strip-main adjust-padding">
			<a id="slack-integrate" href="https://slack.com/oauth/authorize?scope=incoming-webhook,commands&client_id=<%= ENV['slack_client_id'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
		</div>
	</div>

</div>

<div class="banner">
	<div class="container">
		<div class="banner-main adjust-padding">
    <a class="learn-more"href="https://github.com/EdmundLeex/uber_slack">Learn More</a>
	</div>
</div>
  <p class="copy-right">© 2015 a/A Uber Slack project</p>
</div>
<!--agrom strip end here-->
<!--footer start here-->
<!-- <div class="footer">
	<div class="container">
		<div class="footer-main">
			<div class="clearfix"> </div>
			<div class="copy-right">
			  <p>© 2015 a/A Uber Slack project</p>
		  </div>
		</div>
	</div>
</div> -->
<!--//footer-->
</body>
</html>
