<form class="" action="/login" method="post">
  <input type='text' name='user[email]' value="" placeholder='username'>
  <input type="password" name="user[password]" value="" placeholder='password'>
  <input type="submit" name="name" value="submit">
</form>
